doctype html
head
  style 
     include style.css
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Registration Form
 
.container
  header Student Registration Form
  form(action='/form' method='post')
    .fields
      .input-field
        label Sur name*
        br
        input.input(type='text' placeholder='Enter Surname' name='surname')
      .input-field
        label Given name*
        br
        input.input(type='text' placeholder='Enter Given Name' name='givenname')
      //.input-field
        input.inputp(type='file' placeholder='Enter Given Name' name='photo')
        br
        label Upload Photo
        br
      .input-field
        label Title
        br
        input.input(type='text' placeholder='--Select Title--' name='title')
      .input-field
        label Gender
        br
        .input-field-2
          input(value='female' name='gender' type='radio')
          span Male
          input.space(value='female' name='gender' type='radio')
          span Female
      .input-field
        label Date of Birth*
        br
        input.input(type='date' placeholder='Enter ID number' name='dob')
      .input-field
        label Country*
        br
        select.input
          option(disabled='' selected='') --Select Country--
          option(name='country') Uganda
          option(name='country') Kenya
          option(name='country') Tanzania
          option(name='country') Rwanda
          option(name='country') Burundi
          option(name='country') Other
      .input-field
        label Place of Residence*
        br
        input.input(type='text' placeholder='Enter Place of Residence' name='residence')
      .input-field
        label Nationality
        br
        input.input(type='text' placeholder='Enter your Nationality here' name='nationality')
    .regbtn
      button Register
