head
title Signup
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js')
link(rel='stylesheet' href='/css/style.css')
.container.mt-3
h2.text-center(style='border-radius') Students Registration Form
form(action='/register' method='post')
.row
    .mt-2.col-3
    label(for='username') Sir Name:
    input#name.form-control(type='text' placeholder='Enter name' name='fullname')
    .mt-2.col-3
    label(for='username') Given Name:
    input#name.form-control(type='text' placeholder='Enter name' name='givenname')
    .mt-2.col-3
    label(for='gender') Gender:
    select#cars.form-control(name='gender')
        option(value='male') Male
        option(value='Female') Female
    .mt-2.col-3
    label(for='dateofRegistration') Date of Birth:
    input#date.form-control(type='date' name='dateofBirth')
    .mt-2.col-3
    label(for='activitiesUndertaken') Title:
    select#activitiesUndertaken.form-control(input='' type='String' name='title')
        option(value='Dr.') Dr.
        option(value='CEO') CEO
        option(value='Self Employed') Self Employed
    .mt-2.col-3
    label(for='PlaceofResidence') Place of Residence:
    input#NIN.form-control(type='String' name='PlaceofResidence:')
    .mt-2.col-3
    label(for='ward') Country:
    select#String.form-control(input='' type='String' name='country')
        option(value='Cell 01') Uganda
        option(value='Cell 02') Rwanda
        option(value='Cell 03') Kenya
        option(value='Cell 04') Zanzibar
    .mt-2.col-3
    label(for='Nationality') Nationality:
    input#Nationality.form-control(type='String' name='nationality')
.button
    button.btn.btn-secondary(type='submit') Register
